/**
 * app-skeleton-3:/app/layout/black/css/body.css
 *
 * @creation  2017-06-29
 * @version   1.0
 * @package   app-skeleton
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	background-color: black;
	color: white;
}

body.body a {
	color: #0090f0;
}

#head-area,
#foot-area {
	padding: 0 0.5em;
	width: 100vw;
	height: 20px;
	vertical-align: middle;
	display: table-cell;
}

#body-area {
	min-height: calc(100vh - 65px);
}
