/**
 * app-skeleton-3:/app/layout/black/css/footer.css
 *
 * @creation  2017-08-11
 * @version   1.0
 * @package   app-skeleton
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */
